let mapleader=" "

" Common settings
set clipboard+=ideaput
set clipboard=unnamedplus
set incsearch
set number
set rnu
set scrolloff=8
set showmode
set visualbell

" Idea specific settings
set ideajoin
set idearefactormode=keep
set ideastatusicon=enabled

" Plugins
Plug 'chrisbra/matchit'
Plug 'dbakker/vim-paragraph-motion'
Plug 'easymotion/vim-easymotion'
Plug 'kana/vim-textobj-entire'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'tommcdo/vim-exchange'
Plug 'tpope/vim-surround'
Plug 'vim-scripts/argtextobj.vim'

" Plugin settings
let g:argtextobj_pairs="[:],(:),<:>"
let g:highlightedyank_highlight_duration = "60"
" let g:highlightedyank_highlight_color = "rgba(33, 66, 131, 200)"
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

" General mappings
inoremap jj <Esc>A
inoremap jk <Esc>
nnoremap # #zz
nnoremap * *zz
nnoremap 0 ^
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap <Tab> viw
nnoremap <cr> m`o<Esc>``
nnoremap <S-cr> m`O<Esc>``
nnoremap H ^
nnoremap J mzJ`z
nnoremap L $
nnoremap N Nzz
nnoremap U <C-R>
nnoremap Y y$
nnoremap ^ 0
nnoremap n nzz
nnoremap x "_x
vnoremap H ^
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv
vnoremap L $
vnoremap p "_dP
vmap <Tab> <Action>(EditorSelectWord)
vmap <S-Tab> <Action>(EditorUnSelectWord)

" Paste from previous register
nnoremap ,P "0P
nnoremap ,p "0p

" Editor action mappings ~ General
map N <Action>(MethodDown)
map M <Action>(MethodUp)
map <leader>a <Action>(EditorAddCaretPerSelectedLine)
map <leader>b <Action>(ShowNavBar)
map <leader>c <Action>(ChooseRunConfiguration)
map <leader>d <Action>(SelectAllOccurrences)
map <leader>e <Action>(ActivateProjectToolWindow)
map <leader>f <Action>(AceWordStartAction)
map <leader>i <Action>(ParameterInfo)
map <leader>m <Action>(EditorMatchBrace)
map <leader>o <Action>(OptimizeImports)
map <leader>p <Action>(ReformatWithPrettierAction)
map <leader>q <Action>(HideAllWindows)
map <leader>r <Action>(RenameElement)
map <leader>s <Action>(FileStructurePopup)
map <leader>t <Action>(CopyReferencePopupGroup)
map <leader>u <Action>(CloseAllEditors)
map <leader>v <Action>(Vcs.RollbackChangedLines)
map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>cc <Action>(StringManipulation.ToCamelCase)
map <leader>sc <action>(StringManipulation.ToSnakeCase)
map gt <Action>(GotoTest)

" Editor action mappings ~ Running and Debugging
map ,, <Action>(Rerun)
map ,b <Action>(ToggleLineBreakpoint)
map ,c <Action>(ChooseRunConfiguration)
map ,d <Action>(ContextDebug)
map ,f <Action>(RerunFailedTests)
map ,n <Action>(ActivateDebugToolWindow)
map ,r <Action>(RunClass)
map ,t <Action>(ContextRun)

" Leader editor action mappings
map <leader>W v$%$
map <leader>Y v$%y
map <leader>Z V$%y
map <leader>w 0v$%$
map <leader>x v$
map <leader>y 0v$%$y

" Plugin mappings
nmap s <Action>(flash.search)
xmap s <Action>(flash.search)

" enhance vim f (find for char in characters to the right of the current cursor)
nmap f <Action>(flash.find)
xmap f <Action>(flash.find)

nmap F <Action>(flash.find_backward)
xmap F <Action>(flash.find_backward)

nmap t <Action>(flash.till)
xmap t <Action>(flash.till)

nmap T <Action>(flash.till_backward)
xmap T <Action>(flash.till_backward)

nmap ; <Action>(flash.repeat)
xmap ; <Action>(flash.repeat)

nmap , <Action>(flash.repeat_backward)
xmap , <Action>(flash.repeat_backward)

" Strict mode for development ---------------
set ideastrictmode

" Open ideavim settings and reload
nmap \e :e ~/.ideavimrc<CR>
nmap \r :action IdeaVim.ReloadVimRc.reload<CR>

" Find more examples here: https://jb.gg/share-ideavimrc

" Sweep AI Tab completion mapping
map <Tab> :action dev.sweep.assistant.autocomplete.edit.AcceptEditCompletionAction<CR>
