"" Source your .vimrc
source ~/.config/nvim/init.vim

"" Plugins
Plug 'machakann/vim-highlightedyank'
let g:highlightedyank_highlight_duration = 200

set sneak
set easymotion
set visualbell

map Y y$

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
