let mapleader=" "

" Common settings
set clipboard=unnamedplus
set clipboard+=ideaput
set incsearch
set number
set rnu
set showmode
set scrolloff=8
set visualbell

" Idea specific settings
set ideajoin
set ideastatusicon=enabled
set idearefactormode=keep

" Plugins
Plug 'chrisbra/matchit'
Plug 'dbakker/vim-paragraph-motion'
Plug 'easymotion/vim-easymotion'
Plug 'kana/vim-textobj-entire'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'
Plug 'tommcdo/vim-exchange'
Plug 'tpope/vim-surround'
Plug 'vim-scripts/argtextobj.vim'
set sneak
set quickscope

" Plugin settings
let g:argtextobj_pairs="[:],(:),<:>"
let g:highlightedyank_highlight_duration = "70"
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']

" General mappings
inoremap jj <Esc>A
inoremap jk <Esc>
nnoremap H 0
nnoremap 0 ^
nnoremap ^ 0
nnoremap L $
nnoremap N Nzz
nnoremap Y y$
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzz
vnoremap p "_dP
nnoremap U <C-R>

" Paste from previous register
nnoremap ,p "0p
nnoremap ,P "0P

" Editor action mappings
nmap <leader>a <Action>(EditorAddCaretPerSelectedLine)
nmap <leader>b <Action>(ShowNavBar)
nmap <leader>c <Action>(ChooseRunConfiguration)
nmap <leader>d <Action>(SelectAllOccurrences)
nmap <leader>e <Action>(ActivateProjectToolWindow)
nmap <leader>f <Action>(AceWordStartAction)
nmap <leader>i <Action>(ParameterInfo)
nmap <leader>m <Action>(EditorMatchBrace)
nmap <leader>o <Action>(OptimizeImports)
nmap <leader>p <Action>(ReformatWithPrettierAction)
nmap <leader>q <Action>(HideAllWindows)
nmap <leader>r <Action>(RenameElement)
nmap <leader>s <Action>(FileStructurePopup)
nmap <leader>u <Action>(CloseAllEditors)
nmap <leader>v <Action>(Vcs.RollbackChangedLines)
nmap gt <Action>(GotoTest)

" Leader editor action mappings
nmap <leader>w V$%
nmap <leader>W v$%$
nmap <leader>x v$
nmap <leader>y V$%
nmap <leader>Y v$%y
nmap <leader>Z V$%y

" Strict mode for development ---------------
set ideastrictmode

" Open ideavim settings and reload
nmap \e :e ~/.ideavimrc<CR>
nmap \r :action IdeaVim.ReloadVimRc.reload<CR>

" Find more examples here: https://jb.gg/share-ideavimrc
